
html {
  font-size: 1em;
  margin: 0;
  background-color: #1e1e1e;
  color: #FFF;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 { font-weight: normal; color: #6AF; font-family: 'Montserrat', sans-serif; }
h5 { font-size: .87em; margin-left: .5em; }
.title2 { text-align: center; margin-bottom: 3.5em; }
p { margin: 3px; margin-left: 1em; margin-bottom: 6px; }
pre { background: #282C34; margin: 1em; }

.clear {
  clear: both;
}

#Menu {
  position: fixed;
  top: 0; left: 0;
  background: #272727;
  border-right: 1px solid #3A3A3A;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  width: 15em;
  height: 100vh;
  overflow: auto;
}
section {
  position: fixed;
  top: 0; right: 0;
  box-sizing: border-box;
  width: calc(100vw - 15em - 20px); height: 100vh;
  padding: 5px 10px;
  overflow: auto;
}
section h1 {
  text-align: center;
  font-size: 1.9em;
}

a {
  color: #B8C;
  text-decoration: underline;
}

code {
  color: #6CD;
  background-color: #333A;
  padding: 2px;
  font-family: 'Courier New', monospace;
}

#Menu a {
  display: block;
  background: #4444;
  color: #FFF;
  border: 0; padding: 5px; margin: 3px 0px;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-family: sans-serif;
  text-align: left;
  transition: .2s ease;
  text-decoration: none;
}
#Menu a:hover {
  background: #444A;
}
#Menu .fontButton {
  width: 2em;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  border: 1px solid #444;
}

ul {
  list-style: circle;
}
li:not(:last-child) {
  margin-bottom: .25em;
}

@media only screen and (min-resolution: 120dpi) and (orientation: portrait) {
  html { font-size: 1.6em; }
  #Menu { width: 11em; border-right: 3px solid #3A3A3A; }
  section { width: calc(100vw - 11em - 20px); }
  #Menu a { padding: 1em 5px; }
  #Menu .fontButton { width: 2.5em; }
}

@media only screen and (min-resolution: 120dpi) and (orientation: landscape) {
  #Menu { width: 13em; }
  section { width: calc(100vw - 13em - 20px); }
  #Menu a { padding: .7em 5px; }
  #Menu .fontButton { width: 2.5em; }
}
